# Omada Controller
OMADA_HOST=https://
OMADA_PORT=443
OMADA_USER=
OMADA_PASS=
OMADA_SITE=

# AdGuard Home
ADGUARD_HOST=http://
ADGUARD_PORT=9080
ADGUARD_USER=
ADGUARD_PASS=

# Log
LOG_FILE=/.../adguard_sync/sync.log
